@import './_variables';

.button {
    color: $dark-color;
    padding: $offset-sm $offset-md;
    min-width: 120px;
    transition: all $animation-fast;
    cursor: pointer;
    font-size: $font-md;
    font-weight: bold;
    background-color: $white-color;
    border: 2px solid $dark-color;
    border-radius: 5px;
    // &:hover {
    //     background-color: $dark-color;
    //     color: $white-color;
    // }
    &:disabled {
        opacity: .5;
    }
}
