@import './_variables';

.input {
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: top;
    }
    &__part {
        width: 47%;
        display: block;
    }
    &__field {
        display: block;
        margin: $offset-md 0;
        position: relative;
        width: 100%;
    }
    &__label {
        font-size: $font-sm;
    }
    &__control {
        width: 100%;
    }
    &__error {
        color: $red-color;
    }
    & span {
        display: block;
    }
}
