$font-mc:                   6px;
$font-sm:                   12px;
$font-md:                   18px;
$font-lg:                   24px;
$font-xl:                   30px;

$offset-mc:                 6px;
$offset-sm:                 12px;
$offset-md:                 18px;
$offset-lg:                 24px;
$offset-xl:                 30px;

$gap-mc:                    36px;
$gap-sm:                    42px;
$gap-md:                    48px;
$gap-lg:                    56px;
$gap-xl:                    60px;

$screen-mc:                 320px;
$screen-sm:                 750px;
$screen-md:                 992px;
$screen-lg:                 1200px;
$screen-xl:                 1440px;

$red-color:                 #b65149;
$violet-color:              #9560b4;
$blue-color:                #52b4e1;
$sea-color:                 #57d0c9;
$button-start:              #4EC5FF;
$green-color:               #6fca89;
$olive-color:               #a2c752;
$yellow-color:              #f0b73d;
$orange-color:              #f0783d;
$topbar-color:              #f5686e;
$red-color:                 #b12929;
$red-color-light:           #db3232;
$white-color:               #ffffff;
$darkest-color:             #2e363e;
$darker-color:              #4a5159;
$dark-color:                #6b7784;
$gray-color:                #8f9ba9;
$light-color:               #bac4cf;
$lighter-color:             #d3dbe3;
$lightest-color:            #e4ebf3;
$smoke-color:               #f3f7fc;
$grayer-color:              #f2f2f2;
$ligher-color:              #c4c4c4;
$navbar-color:              #ebebeb;
$content-color:             #fcfcfc;
