@import '../../assets/styles/_variables';

.auth {
    // &__header {
    //     &-body {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: flex-end;
    //     }
    // }
    &__form {
        display: block;
        margin: $offset-lg 0;
        max-width: $screen-mc*1.5;
        width: 100%;
    }
}