@import '../../../assets/styles/_variables';

.modal {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    &__body {
        max-width: $screen-mc*1.4;
        width: 100%;
        display: block;
        position: absolute;
        top: $gap-xl;
        left: 0;
        background-color: $white-color;
        transform: translate(0, 0);
        box-sizing: border-box;
        box-shadow: 0 1px 10px rgba(0,0,0,.25);
        opacity: 1;
        animation: fadeInTop  $animation-slow ease-in-out;
        &-body {
            padding: $offset-md;
        }
        &::before {
            content: "";
            position: relative;
            top: -30px;
            left: 10px;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-bottom-color: $white-color;  
            border-top: 0;
        }
    }
    &__close {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: $offset-sm $offset-sm;
        width: 100%;
        position: relative;
        border-bottom: 1px solid $lightest-color;
        & i {
            display: inline-block;
            cursor: pointer;
            font-size: $font-xl;
            transition: all $animation-fast;
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                transform: scale(1);
            }
        }
    }
    &__title {
        font-size: $font-lg;
        position: absolute;
        left: $offset-sm;
        top: $offset-sm;
    }
}

@keyframes fadeInTop {
    from {
        transform: translate(0, -10%);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
