/*
 * RESET STYLES
 * ========================================== */
html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  font-size: 18px;
  color: #4a5159;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300; }

figcaption,
figure,
main {
  display: block; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 6px; }

p {
  margin: 0; }

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline: 0;
  box-shadow: none; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: 500; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 6px; }

dfn {
  font-style: italic; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a:focus,
button:focus,
input:focus {
  outline: none;
  box-shadow: none; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  min-height: 20px; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  box-sizing: content-box;
  border: solid #fff;
  border-width: 8px 0;
  width: 100%;
  height: 3px;
  border: 0;
  cursor: pointer;
  background: #bac4cf; }

input[type=range]::-webkit-slider-thumb {
  box-sizing: border-box;
  margin-top: -8px;
  border: 1px solid #8f9ba9;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #d3dbe3;
  cursor: pointer;
  -webkit-appearance: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #8f9ba9; }

input[type=range]::-moz-range-track {
  box-sizing: content-box;
  border: solid #fff;
  border-width: 8px 0;
  width: 100%;
  height: 3px;
  border: 0;
  cursor: pointer;
  background: #bac4cf; }

input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  margin-top: -8px;
  border: 1px solid #bac4cf;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #d3dbe3;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  border: 0;
  cursor: pointer;
  background: #bac4cf; }

input[type=range]::-ms-fill-lower {
  background: #bac4cf;
  border: 0; }

input[type=range]::-ms-fill-upper {
  background: #bac4cf;
  border: 0; }

input[type=range]::-ms-thumb {
  box-sizing: border-box;
  margin-top: -2px;
  border: 1px solid #bac4cf;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #d3dbe3;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #8f9ba9; }

input[type=range]:focus::-ms-fill-upper {
  background: #8f9ba9; }

input::placeholder {
  opacity: .65;
  font-size: 20px !important;
  line-height: 3.5em; }

input:-moz-placeholder,
input:-ms-placeholder {
  display: none; }

video {
  height: 0px;
  width: 0px; }

.link {
  color: #6b7784;
  display: inline-block; }
  .link__primary {
    padding: 0 0 3px;
    border-bottom: 4px solid #52b4e1; }

.table {
  width: 100%;
  border-collapse: collapse; }
  .table__head {
    width: 100%; }
    .table__head .table__row {
      color: #52b4e1; }
  .table__body {
    width: 100%; }
    .table__body .table__row td {
      border-bottom: 1px solid #bac4cf;
      transition: all 0.15s; }
      .table__body .table__row td:hover {
        background-color: #f3f7fc; }
  .table__row {
    width: 100%; }
  .table__th {
    text-align: left;
    padding: 12px; }
  .table__td {
    text-align: left;
    padding: 6px 12px;
    margin: 6px 0;
    vertical-align: middle; }
    .table__td a {
      color: #52b4e1;
      font-weight: bold;
      transition: all 0.15s; }
      .table__td a:hover {
        color: #4EC5FF; }
    .table__td-top {
      font-weight: bold;
      color: #8f9ba9;
      margin: 0 0 6px; }

.form {
  display: block;
  width: 100%;
  position: relative; }
  .form__action {
    display: block;
    margin: 18px 0; }

.input__box {
  display: flex;
  justify-content: space-between;
  align-items: top; }

.input__part {
  width: 47%;
  display: block; }

.input__field {
  display: block;
  margin: 18px 0;
  position: relative;
  width: 100%; }

.input__label {
  font-size: 12px; }

.input__control {
  width: 100%; }

.input__error {
  color: #b12929; }

.input span {
  display: block; }

.button {
  color: #6b7784;
  padding: 12px 18px;
  min-width: 120px;
  transition: all 0.15s;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #6b7784;
  border-radius: 5px; }
  .button:disabled {
    opacity: .5; }

.icon {
  max-width: 64px;
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto; }
  .icon-reload {
    max-width: 21px;
    animation: reload-icon infinite 1.3s linear; }

@keyframes reload-icon {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.error {
  color: #b12929;
  margin: 18px 0;
  display: block; }
  .error-message {
    font-size: 18px; }

.app {
  overflow: auto; }

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 98%; }

.section__title {
  margin: 18px 0;
  font-size: 24px;
  color: #6b7784; }

@media (max-width: 1440px) {
  .wrapper {
    width: 95%; } }
